// Colors
@import "colors";

// Fonts
@import "global_styles";

// nabvar
@import "nav";

// Message send
@import "message-sent";

// edit-account
@import "edit-account";

// products
@import "products";

// my order
@import "my-order";
